@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange-1: 243 147 35;
  /* --orange-1: #f39323; */
  --orange-2: 243 146 34;
  /* --orange-2: #f39222; */
  /* --orange-3: rgba(243 146 34 0.58; */
  /* --orange-3: #f3922294; */
  --yellow: 253 211 4;
  /* --yellow: #fdd304; */
  --gray-1: 153 153 153;
  /* --gray-1: #999999; */
  --gray-2: 195 195 195;
  /* --gray-2: #c3c3c3; */
  --gray-3: 35 31 32;
  /* --gray-3: #231f20; */
  --gray-4: 0 0 0 0.149;
  /* --gray-4: #00000026; */
  --gray-5: 60, 60, 60;
  /* --gray-5: #3c3c3c; */
}

.mark-text {
  background: rgba(var(--gray-5));
  padding: 0.1em 0.4em;
  box-decoration-break: clone;
}

.box-item {
  position: relative;

  &:last-child {
    &::after {
      display: none;
    }
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(var(--orange-2));
  }

  @media screen and (min-width: 1024px) {
    &::after {
      display: block;
    }
  }

  @media screen and (min-width: 1360px) {
    &::after {
      right: -45px;
    }
  }
}
